* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 100%;
    box-shadow: 1px 1px 5px;
}

.main-container {
    display: grid;
    grid-template-rows: 100px 800px;
}

dialog {
    width: 400px;
    height: 300px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
}

#library-container {
    height: 100%;
    padding: 10px;
    background-color: #f0eef1;

    display: grid;
    gap: 75px;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.card {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;

    background-color: #FFF;
    box-shadow: 2px 2px 5px #778899;
}

#read, #remove-card {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

#read {
    color: #ffffff;
}

#remove-card {
    background-color: #c5c5c5;
}

#remove-card:hover {
    background-color: #b1afaf;
}

#remove-card:active {
    background-color: #858484;
}