* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header { 
    border-bottom: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 100px;
    display: flex;
    justify-content: center;
    padding: 15px;
}

header h1 {
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    
}

#library-container {
    display: flex;
    flex-wrap: wrap;
}

#new-book {
    height: 20px;
    align-self: center;
    margin-left: auto;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: cornflowerblue;
}

#dialog-book {
    padding: 40px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-self: center;
    align-self: center;
}

#dialog-book h2 {
    margin-bottom: 10px;
    text-align: center;
}

#dialog-book label {
    display: block;
    margin-bottom: 5px;
}

#submit-form {
    width: 100%;
    height: 25px;
    margin-top: 15px;
}

#book-card {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 75px;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#book-card h3 {
    font-size: xx-large;
}

#book-card h4 {
    margin-bottom: 50px;
}

#book-card p {
    font-weight: bold;
}

#remove-book {
    width: 100px;
    height: 25px;
    align-self: center;
}